<%- include("partials/header1") -%>
    <div class="about-section">
        <h1>About Us</h1>
        <p>It all started when we face difficulty in working in the projects collaboratively.</p>
    </div>
<%- include("partials/footer"); -%>