<%- include("partials/header1"); -%>
    <div class="row title">
        <div class="col-lg-6">
            <h1 class="big-heading">Build Edit And Collaborate.</h1>
            <input type="email" class="temp-email" placeholder="Enter your email to get started">
            <button class="btn btn-secondary btn-lg"><a href="/register" style="text-decoration: none; color:black;">Submit</a></button>
        </div>
        <div class="title-image-col col-lg-6">
            <img class="title-image" src="images/project (1).png" alt="project-image">
        </div>
    </div>
    <!-- Call to Action -->
    <section class="colored-section" id="cta">
        <h3 class="big-heading cta-headers">Streamline Your Project Search and Boost Collaboration With Code Logyx.</h3>
        <button type="button" class="btn btn-dark btn-lg download-buttons"><i class="fa-brands fa-apple"></i>
            Download</button>
        <button type="button" class="btn btn-outline-light btn-lg download-buttons"><i
                class="fa-brands fa-google-play"></i> Download</button>
    </section>

    <!--Feedback-->
    <section class="text-black">
        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <h2 class="testimonial-text">I was not too good at DSA. I used to struggle a lot. But after taking Code Logyx
                DSA Course I am able to crack Amazon.
              </h2>
              <img class="testimonial-image" src="images/male.png" alt="tauseef-image">
              <em>Md Tauseef Akhtar, Amazon</em>
              <a href="https://github.com/"><img class="social-link" src="images/github.png" alt="social"></a>
              <a href="https://www.linkedin.com/"><img class="social-link" src="images/linkedin.png" alt="social"></a>
              <a href="https://www.instagram.com/"><img class="social-link" src="images/twitter.png" alt="social"></a>
            </div>
    
            <div class="carousel-item">
              <h2 class="testimonial-text">First of all I would like to praise the mentor of Code Logyx
                who are always ready for helping me at any time. I have recommended this course to my friend.</h2>
              <img class="testimonial-image" src="images/man.png" alt="faizan-image">
              <em>Faizan Azizi, Google</em>
              <img class="social-link" src="images/github.png" alt="social">
              <img class="social-link" src="images/linkedin.png" alt="social">
              <img class="social-link" src="images/twitter.png" alt="social">
            </div>
  
            <div class="carousel-item">
              <h2 class="testimonial-text">I have taken ML course. Believe Me it is one of the best course across the Internet.
              </h2>
              <img class="testimonial-image" src="images/bussiness-man.png" alt="bansh-image">
              <em>Bansh Kumar Vatsa, Microsoft</em>
              <img class="social-link" src="images/github.png" alt="social">
              <img class="social-link" src="images/linkedin.png" alt="social">
              <img class="social-link" src="images/twitter.png" alt="social">
            </div>
    
          </div>
           <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </section>
<%- include("partials/footer"); -%>
